.container {
 max-width: 1170px;
 margin: 0 auto;
}

/* Start style header */

.header-wrapper {
 display: flex;
 justify-content: space-between;
 margin: 35px 0px 150px 0px;
}
.nav-menu {
 display: flex;
 justify-content: space-between;
}
.navbar {
 width: 450px;
}
.nav-menu__item > a {
 text-decoration: none;
 color: black;
}
.nav-item {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 15px;
}

/* End style header */
