/* 1sec */
.container {
 width: 100%;
 max-width: 1170px;
 margin: 0 auto;
}

.wrap {
 display: flex;
 justify-content: space-between;
}
.header_logo {
 margin-top: 35px;
 margin-bottom: 120px;
}
@media (max-width: 600px) {
 .header_logo {
  margin-bottom: 30px;
 }
}
.header_menu {
 margin-top: 50px;
}
.menu {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 15px;
}
.menu__link {
 padding: 0 35px;
 text-decoration: none;
 color: #000;
}
@media (max-width: 600px) {
 .menu__link {
  padding: 0 5px;
 }
}
.menu__link:last-child {
 padding-right: 0px;
}

.wrapper {
 display: flex;
 justify-content: space-between;
 flex: 0 0 50%;
 margin-bottom: 120px;
}
@media (max-width: 600px) {
 .wrapper {
  flex-wrap: wrap;
 }
}
.column1 {
 position: relative;
 top: 45px;
}
@media (max-width: 1024px) {
 .column1 {
  top: 60px;
 }
}
@media (max-width: 768px) {
 .column1 {
  top: 45px;
 }
}
@media (max-width: 600px) {
 .column1 {
  top: 0px;
 }
}
.title {
 font-size: 60px;
 font-family: "Montserrat", sans-serif;
 font-weight: 800;
}
@media (max-width: 1024px) {
 .title {
  font-size: 50px;
 }
}
@media (max-width: 768px) {
 .title {
  font-size: 35px;
 }
}
.about__title {
 line-height: 80px;
 margin-bottom: 40px;
}
@media (max-width: 1024px) {
 .about__title {
  line-height: 70px;
 }
}
@media (max-width: 768px) {
 .about__title {
  line-height: 35px;
 }
}
.about__title span {
 display: block;
}

.about__text {
 font-size: 12px;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 line-height: 30px;
 margin-bottom: 50px;
}

.btn {
 border: 1px solid yellow;
 padding: 15px;
 min-width: 170px;
 background: #ffe600;
 text-transform: uppercase;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
}
@media (max-width: 600px) {
 .about_btn {
  margin-bottom: 25px;
 }
}
/* 1sec */

/* 2sec */
.showcase_title {
 text-transform: uppercase;
 margin-bottom: 70px;
}

.showcase_menu__link {
 padding: 0 22px;
 text-decoration: none;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 color: #000;
 font-size: 12px;
}

.showcase_menu__link_active {
 border: 1px solid yellow;
 background: #ffe600;
 padding: 10px 22px;
}

.topmenu > li {
 display: inline-block;
}
.dropmenu > li {
 display: inline-block;
 position: relative;
}

.fa {
 color: inherit;
 padding-left: 10px;
}
.submenu {
 position: absolute;
 width: 100%;
 z-index: 10;
 display: none;
}
.one ul li:hover .submenu {
 display: block;
}

.nav-container {
 display: flex;
 justify-content: space-between;
 width: 100%;
 margin-bottom: 80px;
}
@media (max-width: 560px) {
 .showcase_menu__link {
  padding: 0 25px;
 }
}

.artworks__row {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: flex-start;
 align-content: flex-start;
}

.artowrks__element {
 align-items: flex-start;
 align-content: flex-start;
}

.artowrks__element_1 {
}

.artowrks__element_2 {
}

.artowrks__element_3 {
}

.artowrks__element_4 {
 flex-shrink: 1;
}

.artowrks__element_5 {
}

.artowrks__element_6 {
 flex-shrink: 0;
}
