.container {
 max-width: 1170px;
 margin: 0 auto;
 width: 100%;
}
.nav-item {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 15px;
}
.title {
 font-family: "Montserrat", sans-serif;
 font-weight: 800;
 text-transform: uppercase;
}

.text {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 font-size: 12px;
}

.btn {
 border: 1px solid #ffe600;
 min-width: 170px;
 background-color: #ffe600;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
}

/* Start style header */
.header__list {
 display: flex;
 justify-content: space-between;
}
.header {
 width: 100%;
 top: 0;
 left: 0;
 z-index: 20;
}
.header-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100px;
 margin-bottom: 100px;
}

.header__link {
 margin-left: 80px;
}
.header__link > a {
 text-decoration: none;
 color: black;
}

/* End style header */

/* Start style first section */

.hello {
 margin-bottom: 130px;
}
.hello__wrapper {
 display: flex;
}
.hello__title {
 text-transform: none;
 line-height: 80px;
 font-size: 60px;
}
.hello__title span {
 display: inline-block;
}

.hello__text {
 line-height: 25px;
}

.hello-button {
 font-size: 15px;
 padding: 15px;
 border-radius: 15px;
}

.hello__text-info {
 display: inline-flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 50px 0px 50px 0px;
}

@media (max-width: 1024px) {
 .hello__title {
  font-size: 40px;
  line-height: 60px;
 }
}

@media (max-width: 768px) {
 .hello__wrapper {
  display: block;
 }
 .header-wrapper {
  margin-bottom: 0px;
 }
 .hello__title {
  text-align: center;
  font-size: 37px;
  line-height: 35px;
  margin-bottom: 25px;
 }
 .hello__text {
  font-size: 15px;
  margin-bottom: 25px;
  text-align: center;
 }
 .hello__text-info {
  align-items: center;
 }
 .hello__img {
  position: relative;
  height: 500px;
 }
 .hello__img img {
  /* display: block;
  margin: 0 auto; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 .hello-button {
  padding: 10px;
 }
 .hello__text-info {
  margin-bottom: 35px;
 }
}

@media (max-width: 580px) {
 .header__list {
  flex-wrap: wrap;
 }
 .header__link {
  padding-bottom: 20px;
 }
 .hello__img {
  height: 300px;
 }
 .hello-button {
  padding: 5px;
  font-size: 10px;
 }
}

@media (max-width: 388px) {
 .header__link {
  padding: 7px;
 }
 .header__list {
  justify-content: right;
 }
 .hello__title {
  font-size: 25px;
 }
}

/* End style first section  */

/* Start style second section */
.showcase__title {
 font-size: 58px;
 letter-spacing: 3px;
 margin-bottom: 10px;
}

.showcase__nav-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 15px;
 height: 100px;
}

.showcase__list {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.showcase__link a {
 text-decoration: none;
 color: black;
}

.showcase__link {
 margin-right: 45px;
}
.showcase__link:hover {
 border: 1px solid #ffe600;
 background: #ffe600;
 /* min-width: 50px; */
 padding: 10px;
 border-radius: 8px;
}
/* .showcase__link_active {
 border: 1px solid #ffe600;
 background: #ffe600;
 min-width: 50px;
 padding: 10px;
 border-radius: 8px;
} */

.showcase__dropdown .showcase__dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: black;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

.showcase__dropdown-content {
 display: none;
 position: absolute;
 background-color: white;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 z-index: 1;
}

.showcase__dropdown-content a {
 color: black;
 text-decoration: none;
 display: block;
 text-align: left;
}

.showcase__dropdown-content a:hover {
 background: gold;
}

.showcase__dropdown:hover .showcase__dropdown-content {
 display: block;
}

@media (max-width: 768px) {
 .hello {
  margin-bottom: 35px;
 }
 .showcase__title {
  text-align: center;
  font-size: 37px;
  line-height: 35px;
  margin-bottom: 25px;
 }
 .showcase__list {
  display: block;
 }
 .showcase__link {
  padding-bottom: 20px;
 }
 .showcase__link_active {
  width: 40px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  line-height: 10px;
 }
 .showcase__nav-wrapper {
  display: block;
 }
}

@media (max-width: 388px) {
 .showcase__title {
  font-size: 25px;
 }
}

.gallery__items {
 display: grid;
 gap: 20px;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 300px 200px 300px;
}

.gallery__item_1 {
 grid-row-start: 1;
 grid-row-end: 2;
}
.gallery__item_2 {
 grid-row-start: 1;
 grid-row-end: 3;
}
.gallery__item_3 {
 grid-row-start: 1;
 grid-row-end: 2;
}
.gallery__item_4 {
 grid-row-start: 2;
 grid-row-end: 4;
}
.gallery__item_6 {
 grid-row-start: 2;
 grid-row-end: 4;
}
.gallery__img {
 background: #fbe831;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.img__description {
 line-height: 40px;
}
.description__title {
 font-size: 30px;
}
.description__text {
 font-size: 12px;
 text-align: center;
}
.gallery__item:hover .gallery__img .img__description {
 display: none;
}
.gallery__item:hover .gallery__img {
 background: #edf2f6;
}
.gallery {
 margin-bottom: 65px;
}

.showcase__button {
 text-align: center;
}

.showcase__btn {
 text-align: center;
 font-size: 12px;
 padding: 15px;
 border-radius: 15px;
}

@media (max-width: 768px) {
 .showcase__btn {
  padding: 10px;
 }
}

@media (max-width: 580px) {
 .showcase__btn {
  padding: 5px;
  font-size: 10px;
 }
 .gallery {
  margin-bottom: 25px;
 }
 .btn {
  min-width: auto;
 }
}

.showcase {
 margin-bottom: 75px;
}

/* End style second section */

/* Start style carousel section */
.carousel__wrapper {
 background: url(../img/carousel/sprites_bg.png);
 height: 330px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.carousel {
 margin-bottom: 110px;
}
@media (max-width: 580px) {
 .carousel__wrapper {
  height: 200px;
 }
}
@media (max-width: 388px) {
 .carousel__wrapper {
  height: 120px;
 }
 .showcase {
  margin-bottom: 30px;
 }
}
/* End style carousel section  */

/* Start style About us section  */

.About-Us__title {
 font-size: 59px;
 margin-bottom: 70px;
}

.About-Us__subtitle {
 line-height: 25px;
 margin-bottom: 70px;
}
.About-Us__subtitle span {
 display: block;
}

.About-Us__wrapper {
 display: flex;
 justify-content: space-between;
}

.About-Us__text-box {
 width: 371px;
 height: 420px;
 border: 3px solid #fdfdfd;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 text-align: left;
 opacity: 0;
}
.About-Us__text-box:hover {
 opacity: 1;
}

.text-box__title {
 font-size: 20px;
 text-transform: none;
 padding: 0px 45px 0px 45px;
}
.text-box__text {
 line-height: 25px;
 padding: 0px 45px 0px 45px;
}
.text-box__text span {
 display: block;
}
.item__img {
 background: url(../img/About_Us/1.png);
 width: 371px;
 height: 420px;
}
.About-Us__item {
 position: relative;
}
.item__box {
 background: #ffe600;
 width: 240px;
 height: 65px;
 position: absolute;
 bottom: 0px;
 left: 0;
}

.item__text_black {
 font-size: 15px;
 text-transform: none;
 color: #1e1e1e;
}

.item__text_white {
 font-size: 12px;
 color: #fffdf4;
}

.item__text {
 padding: 5px 0px 0px 25px;
 line-height: 25px;
}

.About-Us {
 margin-bottom: 120px;
}
@media (max-width: 768px) {
 .About-Us__wrapper {
  flex-wrap: wrap;
 }
 .item__box {
  bottom: 0;
 }
 .About-Us__item {
  margin-bottom: 25px;
 }
 .About-Us__title {
  margin-bottom: 30px;
  font-size: 37px;
 }
 .About-Us__subtitle {
  margin-bottom: 30px;
 }
 .carousel {
  margin-bottom: 50px;
 }
}

@media (max-width: 388px) {
 .About-Us__title {
  font-size: 25px;
 }
}

/* End style About us section  */

/* Start style our-blog section */
.our-blog {
 background: url(../img/our-blog/Background.png);
 padding: 120px 0px 120px 0px;
 margin-bottom: 120px;
}
.our-blog__title {
 font-size: 59px;
 margin-bottom: 70px;
}
.our-blog__subtitle span {
 display: block;
}
.our-blog__subtitle {
 line-height: 25px;
 margin-bottom: 65px;
}
.box__img {
 background: #fbe831;
 margin-bottom: 30px;
 height: 280px;
 width: 370px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.box__item:hover .box__img h3 {
 display: none;
}
.box__item:hover .box__img {
 background: #edf2f6;
}
.img__text {
 font-size: 30px;
}

.box__title {
 margin-left: 25px;
 font-size: 15px;
}

.box__wrapper {
 height: 120px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.box__text {
 line-height: 25px;
 margin-left: 20px;
 flex-wrap: wrap;
}
.box__text span {
 display: block;
}
.box__date {
 margin-left: 25px;
}

.our-blog__box {
 display: flex;
}
.box__item {
 margin-right: 30px;
}
@media (max-width: 768px) {
 .our-blog__box {
  flex-wrap: wrap;
 }
 .box__img {
  width: 350px;
 }
 .our-blog {
  padding: 60px 0px 60px 0px;
 }
 .our-blog__title {
  font-size: 37px;
  margin-bottom: 30px;
 }
 .About-Us {
  margin-bottom: 30px;
 }
 .box__date {
  margin-bottom: 15px;
 }
 .our-blog__subtitle {
  margin-bottom: 30px;
 }
 .img__text {
  font-size: 20px;
 }
}
@media (max-width: 388px) {
 .our-blog__title {
  font-size: 25px;
 }
 .img__text {
  font-size: 15px;
 }
}
/* End style our-blog section */

/* Start style contact section  */

.contact__title {
 font-size: 59px;
 margin-bottom: 70px;
}
.contact__subtitle {
 line-height: 25px;
}
.contact__subtitle span {
 display: block;
 margin-bottom: 40px;
}
.form__img {
 background-image: url(../img/forms/1.png);
 width: 570px;
 height: 470px;
}
.form__wrapper {
 display: flex;
 justify-content: space-between;
}
.form__column {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.form {
 margin-bottom: 70px;
}

.contact__icons {
 display: flex;
 justify-content: space-evenly;
 margin-bottom: 80px;
}

.item__description span {
 display: block;
}

.item__icon {
 margin: 0px 0px 30px 45px;
}

.item__description {
 text-align: center;
 line-height: 25px;
}

.contact__sprites {
 display: flex;
 justify-content: center;
 margin-bottom: 75px;
}
.sprite {
 background-image: url(../img/forms/spritesheet.png);
 background-repeat: no-repeat;
 display: inline-block;
 margin-left: 60px;
}

.sprite-Shape1 {
 width: 14px;
 height: 30px;
 background-position: -60px -60px;
}

.sprite-Shape2 {
 width: 31px;
 height: 26px;
 background-position: -194px -60px;
}

.sprite-Shape3 {
 width: 31px;
 height: 30px;
 background-position: -345px -60px;
}

/* Start style footer  */
.footer {
 background: #1e1e1e;
 height: 175px;
}
.footer__wrapper {
 height: 175px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo__year {
 display: inline-block;
 color: #fff;
}

.footer_to-top {
 color: #fff;
}
