.container {
 max-width: 1170px;
 margin: 0 auto;
 width: 100%;
}
.nav-item {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 15px;
}
.title {
 font-family: "Montserrat", sans-serif;
 font-weight: 800;
 text-transform: uppercase;
}

.text {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 font-size: 12px;
}

.btn {
 border: 1px solid #ffe600;
 min-width: 170px;
 background-color: #ffe600;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
}

/* Start style header */
.header__list {
 display: flex;
 justify-content: space-between;
}
.header {
 width: 100%;
 top: 0;
 left: 0;
 z-index: 20;
}
.header-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100px;
 margin-bottom: 100px;
}

.header__link {
 margin-left: 80px;
}
.header__link > a {
 text-decoration: none;
 color: black;
}

/* End style header */

/* Start style first section */

.hello {
 margin-bottom: 130px;
}
.hello__wrapper {
 display: flex;
}
.hello__title {
 text-transform: none;
 line-height: 80px;
 font-size: 60px;
}
.hello__title span {
 display: inline-block;
}

.hello__text {
 line-height: 25px;
}

.hello-button {
 font-size: 15px;
 padding: 15px;
 border-radius: 15px;
}

.hello__text-info {
 display: inline-flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 50px 0px 50px 0px;
}

@media (max-width: 1024px) {
 .hello__title {
  font-size: 40px;
  line-height: 60px;
 }
}

@media (max-width: 768px) {
 .hello__wrapper {
  display: block;
 }
 .header-wrapper {
  margin-bottom: 0px;
 }
 .hello__title {
  text-align: center;
  font-size: 37px;
  line-height: 35px;
  margin-bottom: 25px;
 }
 .hello__text {
  font-size: 15px;
  margin-bottom: 25px;
  text-align: center;
 }
 .hello__text-info {
  align-items: center;
 }
 .hello__img img {
  display: block;
  margin: 0 auto;
 }
}

@media (max-width: 580px) {
 .header__list {
  flex-wrap: wrap;
 }
 .header__link {
  padding-bottom: 20px;
 }
 .hello__img {
  overflow: hidden;
 }
}

@media (max-width: 388px) {
 .header__link {
  padding: 7px;
 }
 .header__list {
  justify-content: right;
 }
 .hello__title {
  font-size: 25px;
 }
}

/* End style first section  */

/* Start style second section */
.showcase__title {
 font-size: 58px;
 letter-spacing: 3px;
 margin-bottom: 75px;
}

.showcase__nav-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 75px;
}

.showcase__list {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.showcase__link a {
 text-decoration: none;
 color: black;
}

.showcase__link {
 margin-right: 45px;
}

.showcase__link_active {
 border: 1px solid #ffe600;
 background: #ffe600;
 min-width: 50px;
 padding: 10px;
 border-radius: 8px;
}

.showcase__dropdown .showcase__dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: black;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

.showcase__dropdown-content {
 display: none;
 position: absolute;
 background-color: white;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 z-index: 1;
}

.showcase__dropdown-content a {
 color: black;
 text-decoration: none;
 display: block;
 text-align: left;
}

.showcase__dropdown-content a:hover {
 background: gold;
}

.showcase__dropdown:hover .showcase__dropdown-content {
 display: block;
}
