body {
 height: 100%;
}
.page-wrapper {
 min-height: 100%;
 display: flex;
 flex-direction: column;
}
.main {
 flex: 1 1 auto;
}
.container {
 max-width: 1170px;
 margin: 0 auto;
 width: 100%;
 padding: 0 15px;
 box-sizing: border-box;
}
.nav-item {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 15px;
}
.title {
 font-family: "Montserrat", sans-serif;
 font-weight: 800;
 text-transform: uppercase;
}

.text {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 font-size: 12px;
}

.btn {
 border: 1px solid #ffe600;
 min-width: 170px;
 background-color: #ffe600;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-transform: uppercase;
}

/* Start style header */
.header__list {
 display: flex;
 justify-content: space-between;
}
.header {
 width: 100%;
 top: 0;
 left: 0;
 z-index: 20;
}
.header-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100px;
 margin-bottom: 100px;
}

.header__link {
 margin-left: 80px;
}
.header__link > a {
 text-decoration: none;
 color: black;
}

/* End style header */

/* Start style first section */

.hello {
 margin-bottom: 130px;
}
.hello__wrapper {
 display: flex;
}
.hello__title {
 text-transform: none;
 line-height: 80px;
 font-size: 60px;
}
.hello__title span {
 display: inline-block;
}

.hello__text {
 line-height: 25px;
}

.hello-button {
 font-size: 15px;
 padding: 15px;
 border-radius: 15px;
}

.hello__text-info {
 display: inline-flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 50px 0px 50px 0px;
}

@media (max-width: 1024px) {
 .hello__title {
  font-size: 40px;
  line-height: 60px;
 }
}

@media (max-width: 768px) {
 .hello__wrapper {
  display: block;
 }
 .header-wrapper {
  margin-bottom: 0px;
 }
 .hello__title {
  text-align: left;
  font-size: 37px;
  line-height: 35px;
  margin-bottom: 25px;
 }
 .hello__text {
  font-size: 15px;
  margin-bottom: 25px;
  text-align: left;
 }
 .hello__text-info {
  align-items: left;
 }
 .hello__img {
  position: relative;
  height: 500px;
 }
 .hello__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 .hello-button {
  padding: 10px;
 }
 .hello__text-info {
  margin-bottom: 35px;
 }
}

@media (max-width: 580px) {
 .header__list {
  flex-wrap: wrap;
 }
 .header__link {
  padding-bottom: 20px;
 }
 .hello__img {
  height: 300px;
 }
 .hello-button {
  padding: 5px;
  font-size: 10px;
 }
}

@media (max-width: 388px) {
 .header__link {
  padding: 7px;
 }
 .header__list {
  justify-content: right;
 }
 .hello__title {
  font-size: 25px;
 }
}

/* End style first section  */

/* Start style second section */

.showcase__title {
 font-size: 58px;
 letter-spacing: 3px;
 margin-bottom: 50px;
}

.showcase__tabs-wrapper {
 margin-bottom: 15px;
}
.tabs > input[type="radio"] {
 display: none;
}
.tabs > div {
 display: none;
}
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
 display: block;
}
.tabs > label {
 display: inline-block;
 text-align: center;
 vertical-align: middle;
 user-select: none;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
 cursor: pointer;
 position: relative;
 top: 1px;
 margin: 0px 45px 35px 0px;
 text-transform: uppercase;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 font-size: 12px;
}
.tabs > label:not(:first-of-type) {
 border-left: none;
}

.tabs > input[type="radio"]:checked + label {
 border: 1px solid #ffe600;
 background: #ffe600;
 padding: 10px;
 border-radius: 8px;
}

@media (max-width: 768px) {
 .hello {
  margin-bottom: 35px;
 }
 .showcase__title {
  text-align: left;
  font-size: 37px;
  line-height: 35px;
  margin-bottom: 25px;
 }

 .tabs label {
  margin-right: 35px;
 }
}

@media (max-width: 560px) {
 .tabs label {
  margin: 0px 200px 10px 0px;
 }
}

@media (max-width: 388px) {
 .showcase__title {
  font-size: 25px;
 }
 .tabs label {
  margin: 0px 150px 10px 0px;
 }
}

.gallery__items {
 display: grid;
 gap: 20px;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 300px 200px 300px;
 margin-bottom: 65px;
}

.gallery__item_1 {
 grid-row-start: 1;
 grid-row-end: 2;
}
.gallery__item_2 {
 grid-row-start: 1;
 grid-row-end: 3;
}
.gallery__item_3 {
 grid-row-start: 1;
 grid-row-end: 2;
}
.gallery__item_4 {
 grid-row-start: 2;
 grid-row-end: 4;
}
.gallery__item_6 {
 grid-row-start: 2;
 grid-row-end: 4;
}
.gallery__img {
 background: #fbe831;
 background-size: contain;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.img__description {
 line-height: 40px;
}
.description__title {
 font-size: 30px;
}
.description__text {
 font-size: 12px;
 text-align: center;
}
.gallery__item:hover .gallery__img .img__description {
 display: none;
}
.gallery__item:hover .gallery__img {
 background: #edf2f6;
}
.gallery {
 margin-bottom: 65px;
}

.showcase__button {
 text-align: center;
}

.showcase__btn {
 text-align: center;
 font-size: 12px;
 padding: 15px;
 border-radius: 15px;
}

@media (max-width: 768px) {
 .showcase__btn {
  padding: 10px;
 }
 .gallery__items {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 200px 300px 300px;
 }
 .gallery__item_1 {
  grid-row: 1/2;
 }
 .gallery__item_2 {
  grid-row: 1/3;
 }
 .gallery__item_3 {
  grid-row: 2/4;
 }
 .gallery__item_4 {
  grid-row: 3/3;
 }
 .gallery__item_5 {
  grid-row: 4/5;
 }
 .gallery__item_6 {
  grid-row: 4/5;
 }
}

@media (max-width: 580px) {
 .showcase__btn {
  padding: 5px;
  font-size: 10px;
 }
 .gallery {
  margin-bottom: 25px;
 }
 .btn {
  min-width: auto;
 }
}

.showcase {
 margin-bottom: 75px;
}
@media (max-width: 580px) {
 .description__title {
  font-size: 20px;
 }
}

/* End style second section */

/* Start style carousel section */
.carousel__wrapper {
 background: url(../img/carousel/sprites_bg.png);
 height: 330px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.carousel {
 margin-bottom: 110px;
}
@media (max-width: 580px) {
 .carousel__wrapper {
  height: 200px;
 }
}
@media (max-width: 388px) {
 .carousel__wrapper {
  height: 120px;
 }
 .showcase {
  margin-bottom: 30px;
 }
}
/* End style carousel section  */

/* Start style About us section  */

.About-Us__title {
 font-size: 59px;
 margin-bottom: 70px;
}

.About-Us__subtitle {
 line-height: 25px;
 margin-bottom: 70px;
}
.About-Us__subtitle span {
 display: block;
}

.About-Us__wrapper {
 display: flex;
 justify-content: space-between;
}

.About-Us__text-box {
 display: none;
}

.About-Us__item:hover {
 display: contents;
}
.About-Us__item:hover .About-Us__text-box {
 display: block;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 text-align: left;
 width: 371px;
 height: 420px;
 border: 3px solid #fdfdfd;
 background: white;
 box-sizing: border-box;
}

.text-box__title {
 font-size: 20px;
 text-transform: none;
 padding: 0px 45px 0px 45px;
}
.text-box__text {
 line-height: 25px;
 padding: 0px 45px 0px 45px;
}
.text-box__text span {
 display: block;
}
.item__img {
 background: url(../img/About_Us/1.png);
 width: 371px;
 height: 420px;
}
.About-Us__item {
 position: relative;
}
.item__box {
 background: #ffe600;
 width: 240px;
 height: 65px;
 position: absolute;
 bottom: 0px;
 left: 0;
}

.item__text_black {
 font-size: 15px;
 text-transform: none;
 color: #1e1e1e;
}

.item__text_white {
 font-size: 12px;
 color: #fffdf4;
}

.item__text {
 padding: 5px 0px 0px 25px;
 line-height: 25px;
}

.About-Us {
 margin-bottom: 120px;
}
@media (max-width: 768px) {
 .About-Us__wrapper {
  flex-wrap: wrap;
 }
 .item__box {
  bottom: 0;
 }
 .About-Us__item {
  margin-bottom: 25px;
 }
 .About-Us__title {
  margin-bottom: 30px;
  font-size: 37px;
 }
 .About-Us__subtitle {
  margin-bottom: 30px;
 }
 .carousel {
  margin-bottom: 50px;
 }
}
@media (max-width: 425px) {
 .item__img {
  width: 300px;
  height: 300px;
 }
}

@media (max-width: 388px) {
 .About-Us__title {
  font-size: 25px;
 }
}

/* End style About us section  */

/* Start style our-blog section */
.our-blog {
 background: url(../img/our-blog/Background.png);
 padding: 120px 0px 120px 0px;
 margin-bottom: 120px;
}
.our-blog__title {
 font-size: 59px;
 margin-bottom: 70px;
}
.our-blog__subtitle span {
 display: block;
}
.our-blog__subtitle {
 line-height: 25px;
 margin-bottom: 65px;
}
.box__img {
 background: #fbe831;
 margin-bottom: 30px;
 height: 280px;
 width: 370px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.box__item:hover .box__img h3 {
 display: none;
}
.box__item:hover .box__img {
 background: #edf2f6;
}
.img__text {
 font-size: 30px;
}

.box__title {
 margin-left: 25px;
 font-size: 15px;
}

.box__wrapper {
 height: 120px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.box__text {
 line-height: 25px;
 margin-left: 20px;
 flex-wrap: wrap;
}
.box__text span {
 display: block;
}
.box__date {
 margin-left: 25px;
}

.our-blog__box {
 display: flex;
}
.box__item {
 margin-right: 30px;
}
@media (max-width: 1024px) {
 .our-blog__box {
  flex-wrap: wrap;
 }
 .box__img {
  width: 350px;
 }
 .our-blog {
  padding: 60px 0px 60px 0px;
 }
 .our-blog__title {
  font-size: 37px;
  margin-bottom: 30px;
 }
 .About-Us {
  margin-bottom: 30px;
 }
 .box__date {
  margin-bottom: 15px;
 }
 .our-blog__subtitle {
  margin-bottom: 30px;
 }
 .img__text {
  font-size: 20px;
 }
}
@media (max-width: 388px) {
 .our-blog__title {
  font-size: 25px;
 }
 .img__text {
  font-size: 15px;
 }
 .box__img {
  width: 300px;
 }
}
/* End style our-blog section */

/* Start style contact section  */

.contact__title {
 font-size: 59px;
 margin-bottom: 70px;
}
.contact__subtitle {
 line-height: 25px;
}
.contact__subtitle span {
 display: block;
 margin-bottom: 75px;
}
.forms__title {
 font-size: 30px;
 text-transform: none;
 margin: 35px 0px 37px 0px;
}
.forms__img {
 background-image: url(../img/forms/1.png);
 width: 570px;
 height: 470px;
}
.forms__wrapper {
 display: flex;
 justify-content: space-between;
}
.forms__column {
 display: flex;
 flex-direction: column;
 width: 563px;
}

.form__input {
 width: 100%;
 height: 40px;
 border-style: none;
 background: #fdfdfd;
 margin-bottom: 12px;
}
.form__textarea {
 width: 100%;
 height: 130px;
 border-style: none;
 background: #fdfdfd;
 margin-bottom: 14px;
 resize: none;
}
.form__btn {
 font-size: 12px;
 padding: 15px;
 border-radius: 15px;
}
.forms {
 margin-bottom: 70px;
}

@media (max-width: 1024px) {
 .form__input {
  width: 430px;
 }
 .form__textarea {
  width: 430px;
 }
}
@media (max-width: 768px) {
 .forms__wrapper {
  flex-wrap: wrap;
 }
 .form__btn {
  margin-bottom: 15px;
 }
 .form__input {
  width: 100%;
 }
 .form__textarea {
  width: 100%;
 }
 .forms__img {
  height: 300px;
 }
 .contact__title {
  font-size: 37px;
 }
}
@media (max-width: 768px) {
 .contact__title {
  font-size: 25px;
  margin-bottom: 30px;
 }
 .contact__subtitle span {
  margin-bottom: 30px;
 }
 .forms__title {
  margin-top: 0px;
 }

 .our-blog {
  margin-bottom: 60px;
 }
}
.contact__icons {
 display: flex;
 justify-content: space-evenly;
 margin: 0px 0px 80px 20px;
}

.item__description span {
 display: block;
}

.item__icon {
 margin: 0px 0px 30px 50px;
}
.item__icon_rgh {
 margin-left: 65px;
}
.item__description {
 text-align: center;
 line-height: 25px;
}
@media (max-width: 430px) {
 .contact__icons {
  flex-wrap: wrap;
  margin-bottom: 40px;
 }
 .contact-icons__item {
  margin-bottom: 10px;
  margin-right: 30px;
 }
}
.contact__sprites {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 75px;
}
.sprite {
 background-image: url(../img/forms/spritesheet.png);
 background-repeat: no-repeat;
 display: inline-block;
 margin-left: 60px;
}

.sprite-Shape1 {
 width: 14px;
 height: 30px;
 background-position: -60px -60px;
}

.sprite-Shape2 {
 width: 31px;
 height: 26px;
 background-position: -194px -60px;
}

.sprite-Shape3 {
 width: 31px;
 height: 30px;
 background-position: -345px -60px;
}

@media (max-width: 425px) {
 .sprite {
  margin: 0 30px;
 }
}
/* Start style footer  */
.footer {
 background: #1e1e1e;
 height: 175px;
}

.footer__wrapper {
 height: 175px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo__year {
 display: inline-block;
 color: #fff;
}

.footer__to-top {
 color: #fff;
}
@media (max-width: 430px) {
 .footer {
  height: 100px;
 }
 .footer__wrapper {
  height: 100px;
 }
}
